* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-wrap: wrap;
}

.container, .aside {
    display: inline-block;
    vertical-align: top;
}

body > aside {
    display: flex;
    flex-direction: column;
    flex: 0 0 30%;
    background-color: lightgray;
}

aside::after {
    content: "";
    display: table;
    clear: both;
  }

body > .container {
    flex: 1;
    padding: 0 15px;
    width: 70%;
    align-items: center;
}

body > aside > img {
    display: block;
    max-width: 70%;
    border-radius: 50%;
    height: auto;
    margin-top: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  .social_container {
    display: flex;
  }

  .social_item {
    margin-right: 10px;
  }
  
  .background {
    background-image: url('images/hands.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

.logo {
    width: 100%;
    order: 1;
}

.logo img {
    width: 100%;
    height: auto;
}

.background > div {
    width: 100%;
    height: auto;
    order: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body > div > div.background > div > p:nth-child(1), body > div > div.background > div > p:nth-child(2) {
    font-size: 30px;
    width: 50%;
    padding: 10px;
}

@media (max-width: 600px) {
    .aside, .section {
      width: 100%;
      height: auto;
    }
  }

@media (max-width: 378px) {
    body {
        flex-direction: column;
    }
    
    .container {
        box-sizing: border-box; 
        width: 100%;
    }

    .aside {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .background > div {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo img {
        width: 100%;
        height: auto;
    }
  }
  